@import './globals.scss';

.about{
    &__items{
        height: 500px;
        
    }
    &__item{
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.price {
    
    &__table {
        width: 100%;
        height: auto;
        border: 1px solid $light-green;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    &__table-item {
        display: grid;
        &:not(:last-child){
            border-right: 1px solid $light-green;
        }
    }

    &__table-title {
        font-family: "MonserratBold",sans-serif;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 18px;
        &:not(:last-child){
            border-bottom: 1px solid $light-green;
        }
    }

    &__table-with{

    }

    &__table-explain{
        font-size: 14px ;
        color: $light-green;
    }

    &__table-info {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        &:not(:last-child){
            border-bottom: 1px solid $light-green;
        }
        }
}

.schedule{
    font-size: 22px;
    span{
        font-family: "MonserratBold",sans-serif;
        font-size: 30px;
    }
}
.block {

    // .block__title

    &__title {
    }
}
.questions {
    
    &__items {
        display: grid;
        gap: 10px;
        width: 100%;
        height: 100%;
        grid-template-rows: minmax(20px,auto);
    }

    &__item {
        cursor: pointer;
        width: 100%;
        height: 100%;
        text-align: left;
        position: relative;
        font-size: 30px;
    }

    &__title{
        padding: 15px 20px;
        color: white;
        border: 1px solid $green;
        background-color: $light-green;
        border-radius: 20px 20px 0 0;
    }

    &__descr {
        transition: all ease 0.5s;
        height: 0;
        opacity: 0;
        background-color: white;
        border-radius: 0 0 20px 20px;
        border: 1px solid $green;
    }
}
.questions__item.__active > .questions__descr{
    height: 300px;
    opacity: 1;
    transition: all ease 0.5s;
}
